target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/.idea/
**/*.iml
/getting-started/tutorial2-lottery-aot/src/main/resources/com/fluxtion/example/cookbook/lottery/aot/LotteryProcessor.graphml
/getting-started/tutorial2-lottery-aot/src/main/resources/com/fluxtion/example/cookbook/lottery/aot/LotteryProcessor.png
/logs/**/*.log
/cookbook/logs/
/getting-started/tutorial4-lottery-auditlog/src/main/resources/com/fluxtion/example/cookbook/lottery/aot/
/getting-started/tutorial3-lottery-auditor/src/main/resources/com/fluxtion/example/cookbook/lottery/aot/
/getting-started/tutorial5-lottery-extended/src/main/resources/com/fluxtion/example/cookbook/lottery/aot/
/getting-started/tutorial6-lottery-nospring/src/main/resources/com/fluxtion/example/cookbook/lottery/aot/
/imperative-helloworld/src/main/resources/com/fluxtion/example/imperative/helloworld/generated/
